@model Optimizely.ViewModels.Pages.Components.BasicContentPageViewModel

<div>
    @Html.PropertyFor(x => x.Title)
</div>
<div>
    @Html.PropertyFor(x => x.MainBody)
</div>
<div>
    @Html.PropertyFor(x => x.MainRegion)
</div>