@model Optimizely.ViewModels.Pages.Components.BasicContentPageViewModel

<div>
    @{
        await Html.RenderPartialAsync("JsonDisplay", Model.Header);
    }
</div>
<div>
    @Html.PropertyFor(x => x.Title)
</div>
<div>
    @Html.PropertyFor(x => x.MainBody)
</div>
<div>
    @Html.PropertyFor(x => x.MainRegion)
</div>

<div>
    @{
        await Html.RenderPartialAsync("JsonDisplay", Model.Footer);
    }
</div>