@using Newtonsoft.Json.Serialization
@model Optimizely.ViewModels.Blocks.Interfaces.ISiteBlockViewModel;

<h1>Json Display</h1>

@try
{
    string json = JsonConvert.SerializeObject(Model);
    <pre style="display: block;">@Html.Raw(json)</pre>
}
catch (Exception e)
{
    @*<p>Error rendering Component : @Model?.ComponentName</p>*@
    <pre>@e.Message</pre>
    <pre>@e.StackTrace</pre>
    <pre>@Html.Raw(JsonConvert.SerializeObject(Model))</pre>
}