@model Optimizely.ViewModels.Pages.Components.HomepageViewModel
<div>
    @{
        await Html.RenderPartialAsync("JsonDisplay", Model.Header);
    }
</div>
<div>
    @Html.PropertyFor(x => x.Title)
</div>
<div>
    @{
        await Html.RenderPartialAsync("JsonDisplay", Model.Footer);
    }
</div>