@model Optimizely.ViewModels.Pages.Components.BasicTwoColumnContentPageViewModel
<div>
    @{
        await Html.RenderPartialAsync("JsonDisplay", Model.Header);
    }
</div>
<div>
    @Html.PropertyFor(x => x.Title)
</div>
<div>
    @Html.PropertyFor(x => x.MainBody)
</div>
<div>
    @Html.PropertyFor(x => x.LeftColumn)
</div>
<div>
    @Html.PropertyFor(x => x.RightColumn)
</div>
<div>
    @{
        await Html.RenderPartialAsync("JsonDisplay", Model.Footer);
    }
</div>